
.container {
    display: flex;
    min-width: 200px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
}

.name {
    width: 150px;
}

.priority {
    width: 100px;
}

.deleteButton {
    background-color: darkorange;
    width: 40px;
    margin-left: auto;
}

.active {
    background-color: darkorange;
}

.high {
    color: darkred;
}

.middle {
    color: darkgreen;
}

.low {
    color: darkblue;
}