
.error {
    border: 1px solid red;
}

.errorInput {

}

.input {

}

.someClass {
    display: flex;
    align-items: flex-start;
}

.error {
    border: 2px solid red;
    outline: none;
}

.button {
    width: 100px;
    margin-left: 5px;
}

.errorText{
    color:red;
    height: 22px;
}